extends ../layout

block content
  .container
    h1.page-header 예약하기

    form(action ="/reservation", method='POST')
      .form-group
        label(for='writer') 예약자
        input.form-control(type='text', name='writer')
      .form-group
        label(for='name') 숙소명
        input.form-control(type='text', name='name')
      .form-group
        label(for='email') 예약자 이메일
        input.form-control(type='email', id='email', name='email', placeholder='Email')
      .form-group
        label(for='checkin') Checkin
        input.form-control(type='date', name='checkin')
        label(for='checkout') Checkout
        input.form-control(type='date', name='checkout')
      .form-group
        label(for='member') 숙박인원
        input.form-control(type='text', name='member')

      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료
