extends ../layout

block content
  .container
    h3 예약확인
    p
      b= reservation.name
      | 
      span at #{moment(reservation.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
    p.well(style='white-space:pre;') 체크인 #{reservation.checkin}
    p.well(style='white-space:pre;') 체크아웃 #{reservation.checkout}
    
    a.btn.btn-default(href='/reservation') 목록
