extends ../layout

block content
  .container.mt30
    h1 숙소 목록
    hr
    h5 숙소 예약을 위해서는 로그인을 해야합니다.
    table.table.mt10
      tr
        th 숙소명
        th 위치
        th 시설
        th 요금
        th 
      each room in rooms
        tr
          td
            a(href='/rooms/#{room.id}')= room.name
          td= room.address
          td= room.facility
          td= room.fare
          td
            if(currentUser)
              a.btn.btn-mini.btn-new(href='/reservation/new') 예약
